<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
<link rel="stylesheet" type="text/css" href="css/style.css" />  
<title>Students</title>
</head> 
	
<body> 
	<div class="panel panel-primary">
		<h1>Students</h1>
        <table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>GroupsName</th>
					<th>Term</th>
				</tr>
			</thead>
			<tbody>
				<%- data %>
			</tbody>
		</table> 
	</div>
	<a href="/Students/Add" class="btn btn-lg btn-info">Add student!</a> 
</body>
</html>